<div class="jumbotron">
    <h1 class="display-4">Olá, mundo!</h1>
    <p class="lead"> sdafdsafads fasdfdsa afsdf daf adsfsadf dafdasfdafwefregbfdbs </p>
    <hr class="my-4">
    <p>sadfsdfsadf asdffads fads fas dfASDF ASDFA SDF Asdf ASDF ADSF ASDFDSAF ADSF ASDFSDF</p>
    <p class="lead">
        <a class="btn  btn-primary btn-lg" href="#" role="button">Leia mais</a>
</div>
<h2>Página de posts</h2>