<from action="/admin/categorias/nova" method="POST">
    <label for="nome">Nome: </label>
        <input type="text" id="nome" placeholder="nome da categorias" class="form-control">
    <label for="slug">Slug: </label>
        <input type="text" id="slug" name="slug" placeholder="slug da categoria">
    <button type="submit" class="btn btn-success">Criar categoria</button>
</from>